.anime-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    
    h2{
        font-size: 2rem;
        color: whitesmoke;
    }
    p{
        color: whitesmoke;
    }

    .anime-container__card{
        margin-top: 30vh;

    img{
        max-width: 100vw;
        max-height:100vh;
    }
    }
}