.character-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 90vh;
    h2{
        color: whitesmoke;
    }
    p{
        color: whitesmoke;
    }

    .character-container__card{
        margin-top: 35vh;

    img{
        max-width: 80vw;
        max-height:40vh;
    }
    }
}