h1{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    position:absolute;
    margin-left: 140px;
    padding:20px;
}
.home-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
img{
    margin-top: 20vh;
    width: 800px;
    max-width: 100vw;
    max-height:100vh;
}
p{
    margin: 20px;
    width:80vw;
    color: rgb(255, 255, 255);
    text-align: left;
}
@media (min-width: 1024px){
    .home-container{
    flex-direction: row;
    align-items: center;
    }
    img{
        margin-top: 300px;
        width: 800px;
        max-width: 100vw;
        max-height:100vh;
    }
    p{
        margin-top: 40px;
        width:80vw;
        color: rgb(255, 255, 255);
    }
}
